@using CoachLancer.Web.Areas.Coach.ViewModels
@model ProfileViewModel

    <table class="table table-hover">
        <tbody>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.FirstName)</td>
            <td>
                @Html.EditorFor(x => x.FirstName)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.LastName)</td>
            <td>
                @Html.EditorFor(x => x.LastName)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Email)</td>
            <td>
                @Html.EditorFor(x => x.Email)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(x => x.PricePerHourTraining, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.PricePerHourTraining)</td>
            <td>
                @Html.EditorFor(x => x.PricePerHourTraining)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Age)</td>
            <td>
                @Html.EditorFor(x => x.Age)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Location)</td>
            <td>
                @Html.EditorFor(x => x.Location)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationMessageFor(x => x.DateOfBirth, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.DateOfBirth)</td>
            <td>
                @Html.TextBoxFor(x => x.DateOfBirth, "{0:MM/dd/yyyy}", new { id = "datepicker" })
            </td>
        </tr>
        </tbody>
    </table>



