<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css/admin")
    @Styles.Render("~/Content/fontawesome/font-awesome.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CoachLancer", "Index", "Home", routeValues: new { area = "" }, htmlAttributes: new { @class = "navbar-brand" })
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                @Html.Partial("_LoginPartial")
            </ul>
            <!-- /.navbar-top-links -->
            <!-- Sidebar  menu -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index", "Profile")"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        @*Dropdown menu for all coach groups*@
                        <li>
                            <a href=""><i class="fa fa-bar-chart-o fa-fw"></i>Groups<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Manage Groups", "Index", "Groups")</li>
                                <li>@Html.ActionLink("Create Group", "Create", "Groups")</li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
   
</body>
</html>
