@using CoachLancer.Web.Areas.Admin.Models.CoachViewModels
@model CoachTableViewModel

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Username</td>
    <td>@Model.PricePerHourTraining</td>
    <td>@Model.Groups.Count</td>
    <td>@Model.Email</td>
</tr>