<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CoachLancer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "page-scroll" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "page-scroll" })</li>
                    <li>@Html.ActionLink("Explore", "Explore", "Home", new { area = "" }, new { @class = "page-scroll" })</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    @RenderBody()

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "page-scroll" })
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "page-scroll" })
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "page-scroll" })
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; CoachLancer 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>