@using CoachLancer.Web.Areas.Coach.ViewModels
@model IEnumerable<PlayerViewModel>
    
@foreach (var p in Model)
{
    <tr>
        <td>@p.Username</td>
        <td>@p.FirstName @p.LastName</td>
        <td>@p.Height</td>
        <td>@p.Weight</td>
        <td>@p.DateOfBirth</td>
    </tr>
}



